.add-goal-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .add-goal-input {
    padding: 10px;
    background-color: #F6F7F9;
    margin-right: 10px;
    flex-grow: 1;
    border: 2px solid rgb(37, 36, 36);
    border-radius: 5px;
  }
  
  .add-goal-button {
    padding: 10px 20px;
    background-color: #1C9675;
    border: none;
    border-radius: 5px;
    color: #F6F7F9;
    cursor: pointer;
  }
  