.goal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .goal-text {
    flex-grow: 1;
  }
  
  .complete-button, .delete-button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .delete-button {
    color: red;
    margin-left: 10px;
  }
  
  .complete-button {
    color: green;
  }
  